bin/
obj/
.vscode/
local.settings.json 

# Excluir el directorio de configuración de Visual Studio
.vs/
# Excluir el archivo de caché y otros archivos de configuración
*.suo
*.user
*.userosscache
*.sln.docstates
