@page "/about"

<PageTitle>About</PageTitle>

<h1>Welcome to my Portfolio</h1>
<p>Check out my portfolio below:</p>

<iframe src="https://maximogonzalez.netlify.app/" width="100%" height="800px" style="border:none;"></iframe>
